@use "@scss/common" as var;

.balls-unit-example {
  width: 1rem;
}


.example {
  display: grid;
  grid-gap: 2rem;
}

.wrapper {
  display: grid;
  grid-gap: 4rem;
}

body {
  padding: 2rem;
}

.container {
  height: 55rem;
  width: 100%;
}

.description {
  display: grid;
  gap: 1.2rem;

  &__content {
    white-space: pre;
    display: grid;
    gap: 1.2rem;
  }
}

.main-title {
  text-align: center;
  font-size: 3.2rem;
}

main {
  display: grid;
  gap: 4rem;
}